/* Big tablet to 1200px */
@media only screen and (max-width: 1200px) {
    
}

/* Small tablet to big tablet from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .main-nav li { font-size: 30px}
}


/* Small tablet to big tablet from 481px to 768px */
@media only screen and (max-width: 767px) {
    
    .main-nav {display: none}
    .mobile-nav-icon {display: inline-block!important;}
    
    .main-nav {
        float: right;
        margin-top: 20px!important;
    }
    
    .main-nav li {display: block!important;}
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
    }
    
    .title-section {
        margin: 2vh 0 4vh 0;
        font-size: 4vh;
    }
    .project-display {
        margin-left: -4vh;
    }
}

/* Small tablet to big tablet from 0 to 480px */
@media only screen and (max-width: 480px) {
}